[submodule "models/gaussian-splatting"]
	path = models/gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "models/pointcept"]
	path = models/pointcept
	url = https://github.com/segment3d-app/Pointcept.git
